html, body{
    padding: 0;
    margin: 0;
}

/*for fonts*/

@font-face {
	font-family: "Fontania";
	src:url('../assets/Fontania.ttf') format('truetype');
}

.area {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86d8f7;
}

.Login-Regis{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 1em;
    box-shadow: 5px 10px 10px lightgray;
    margin: 5% 0;
}

.Login-Regis#Regis{
    width: 80%;
    padding: 0 1.5em;
}

.Login-Regis img{
    padding: 1em 0;
    width: 100%;
}

.box-input{
    display: flex;
    flex-direction: row;
}

.box-input img{
    width: 2em;
    margin: 0 .5em;
}

.extra{
    width: 20em;
    padding: .5em 1em;
}

.extra img{
    width: 100%;
}


.form{
    width: 25em;
    padding: 1.5em 1em;
    margin: 1em;
    text-align: left;
}

.form#Regis{
    width: 100%;
}

.form-col{
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-left, .form-right{
    width: 40%;
    height: fit-content;
}

.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec{
    padding: .8em 0;
}

.sec h3{
    border-bottom: skyblue 5px solid;
}

.form h1{
    font-family: Fontania;
    text-align: center;
}

.form button{
    margin: 1em;
}

@media only screen and (max-width: 900px){
    .area{
        text-align: center;
        padding: 2em;
    }

    .Login-Regis{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .Login-Regis#Regis{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .form{
        font-size: 15px;
        width: 100%;
    }

    .form-col{
        width: 100%;
        flex-direction: column;
    }

    .form-left, .form-right{
        width: 100%;
    }
}