html, body{
    padding: 0;
    margin: 0;
}

/*for fonts*/

@font-face {
	font-family: "Fontania";
	src:url('../assets/Fontania.ttf') format('truetype');
}

.area {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #86d8f7;
}

.Login-Regis{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
}

.Login-Regis img{
    width: 15rem;
}

.form{
    background-color: white;
    width: 90%;
    padding: 1.5em 1em;
    margin: 1em;
    border-radius: 1em;
}