html,body{
	margin:0;
	padding:0;
	font-family: verdana;
	height:100%;
	scroll-behavior: smooth;
	background-color: #e6e7e8;
}

/*for fonts*/

@font-face {
	font-family: "Fontania";
	src:url('../assets/Fontania.ttf') format('truetype');
}

.loader{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #e6e7e8;
	z-index: 99;
	font-family: "Fontania";
}

.loader h1{
	width: 80%;
	text-align: center;
}

.loader.hidden{
	animation: fadeOut 3s;
	animation-fill-mode: forwards;
}

.loader img{
	animation: wobble 1s;
	animation-delay: 0.5s;
	width: 80%;
}

/*for header*/
.header{
	background-image: url('../assets/LandingBG.png');
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

.navsbar{
	width:100%;
	display: flex;
	align-items: center;
	color:white;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	padding:1em 1em;
	height: 10vh;
	position: fixed;
	z-index: 98;
	background-color: #e6e7e8;
}
.navsbar .gambar > img{
	width: 10em;
	height: auto;
}

.navs-link{
	font-size: 1.2em;
	display: flex;
	flex-direction: row;
}

.navsbar.scrool{
	background-color: #e6e7e8;
}

.navs a{
	border-radius: 1rem;
	margin: 1em .5em;
	padding : .5em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	transition: .4s;
}

#Regis a{
	border-radius: 1rem;
	background-color:#00afef;
	color: white;
}

.navs a:hover, #Regis a:hover{
	background-color:#66e1ff;
	color:white;
	transition: .4s;
	text-decoration: none;
}

.ham-bar{
	display:none;
	height: 10vh;
}

.ham{
	padding: 5px 8px;
}

.hamburger{
	width: 2em;
	height: .3em;
	background-color: black;
	margin: .3em 0;
}
.ham-bar > img{
	width: 10em;
	height: auto;
}
.navs-links{
	display:none;
}
.container{
	display: flex;
    flex-direction: row;
   	justify-content: space-around;
   	align-items: center;
   	min-height: 90vh;
   	width: 100%;
}
.title{
	font-family: Fontania;
	width: 45%;
	text-align: left;
}

.title h1{
	margin: .5em;
}

.title img{
	width: 1em;
	margin: 0 1em .5em 1em;
}

.title-contain{
	display: flex;
	align-items: left;
	align-content: center;
}


.container img{
	max-width: 35%;
    height: auto;
}

/*for landing*/

.titles{
	font-family: Fontania;
	width: 100%;
	text-align: left;
	margin: 3em 0;
}

.landing{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 2.5em;
	background-color: white;
}
.landing > img{
	max-width: 35%;
}
.landing .text{
	width:50%;
}
.landing .kotak{
	width:40%;
	height:5px;
	background-color: deepskyblue;	
}
.landing h1{
	color:black;
	font-family: "Fontania";
	font-size: 3rem;
}
.landing p{
	color:black;
	text-align: justify;
}

.navsbar .logo{
	display:block;
}

.navsbar > img.gambar{
	display: block;
}

.landing .title, .why .title{
	padding: 1.5em 0;
}

.why{
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5em;
}

.why .text{
	text-align: justify;
	width: 50%;
}

.why .kotak{
	width:60%;
	height:5px;
	background-color: deepskyblue;	
}

.why h1{
	font-family: Fontania;
	font-size: 3rem;
}

.caro{
	width: 50%;
	height: auto;
	box-shadow: 1em 1em 1em #e2e2e2;
	margin: 0 1em;
}

.carousel-inner{
	display: flex;
	flex-direction: row;
}

.carousel-control-prev img , .carousel-control-next img{
	width: 2em;
}

.caro-in{
	text-align: center;
	padding : 1em 0;
}

.caro-in h3{
	font-family: "Fontania";
}

.seg img{
	width: 100%;
}

/*for Sponsor*/
.sponsor{
	background-color: #e6e7e8;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding:0 4em;
}
.sponsor .platinum, .sponsor .gold,.sponsor .silver,.sponsor .Media{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2em;
}

.sponsor .platinum img{
	max-width: 25em;
	margin:1.3em;
}
.sponsor .gold img{
	max-width: 17em;
	margin:1.3em;
}
.sponsor .Media img,.sponsor .silver img{
	max-width: 12em;
	margin:1.3em;
}
.sponsor span h2{
	font-size: 2.25rem;
	font-family: "Fontania";
	border-bottom: 5px solid deepskyblue;
}

.map iframe{
	width: 100%;
	height: 100vh;
}

/* FAQ */
.FAQs{
	background-color: white;
	width:100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

.faq-page{
	margin: 0;
	padding: 0;
	height: fit-content;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.faq-page h1{
	font-family: "Fontania";
	margin: .5em;
	font-size: 3rem;
}

.faq{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around; 
	padding: 2em 0;
	width: 60%;
	border-radius: 1em;
}

.faq-content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: fit-content;
}

.faq-content img{
	width: 20%;
	height: 50%;
	margin: 1em 0;
}

.faq-left , .faq-right{
	width: 45%
}      

button.faq-title{
	width: 100%;
	background-color: #b4b5b6;
	border: none;
	outline: none;
	text-align: left;
	font-size: 16px;
	padding: 12px;
	cursor: pointer;
	transition: 0.2s linear;
	box-shadow: .5em -.5em .5em lightgray;
}

button.faq-title:after {
	content: '\f055';
	font-family: "fontawesome";
	font-size: 20px;
	float: right;
	padding: auto;
}
		
button.faq-title.is-open:after {
	content: '\f056';
}
		
		
button.faq-title:hover, button.faq-title.is-open{
	background-color: #00afef;
	box-shadow: .5em -.5em .5em lightblue;
}

.faq-text{
	padding: 0 .5em;
	background-color: whitesmoke;
	max-height: 0;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	box-shadow: .5em -.5em .5em lightblue;
}

.Contact{
	background-color:white;
	width:100%;
	min-height: 100%;
	padding-bottom: 3em;
}

.Contact h1{
	font-family: "Fontania";
	text-align: center;
	font-size: 3rem;
	padding: 1em .5em 0 0;
}

.contact-page{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: fit-content;
}

.contact-left, .contact-right{
	width: 45%;
}

.contact-left{
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media img{
	width: 100%;
	height: auto;
}

.social-media{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 28px;
	margin: 40px;
}

.social-media span{
	font-size: 15px; 
	margin: 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
}

.social-media a{
	color: #000;
}

.social-media a:hover{
	color: rgb(105, 105, 105);
}

.sosmed-content{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.form-message{
	border: 1px solid lightgray;
	border-radius: 4%;
	margin: 30px;
	padding: 60px;
	display: flex;
	flex-direction: column;
	background-color: #66e1ff;
	box-shadow: .5em .5em .5em lightblue;
}

.form-message h1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .5em 0;
	color: white;
}

.form_submit{
	display: flex;
	justify-content: center;
	align-items: center;
}

.foot{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.foot-img{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em 2em;
	background-color: lightskyblue;
}

.foot-left, .foot-right{
	display: flex;
	flex-direction: column;
	text-align: left;
}

.foot-left{
	justify-self: left;
}

.foot-right{
	justify-self: right;
}

.foot img{
	width: 40%;
}

.foot-bottom{
	background-color: deepskyblue;
	text-align: center;
	padding: 1em;
	color:white;
}


@media only screen and (max-width: 900px)
{
	.loader h1{
		font-size: 1em;	
	}

	.navsbar >.gambar>img#logo{
		display:none;
	}
	.ham-bar{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding:1em 1em;
		box-sizing: border-box;
		transition:1s;
	}

	.ham{
		border:1px solid deepskyblue;
	}
	.hamburger{
		background-color: black;
	}
	.navsbar >.gambar>img#logo{
		display:none;
	}
	.navsbar{
		height:130px;
		width:100%;
		overflow: scroll;
		background-color:none;
		display: none;
	}
	.navs-link{
		display: flex;
		flex-direction: column;
		margin:auto;
		text-align: center;
		transition:1s;
	}
	.navs-link .navs{
		margin: .5em 0;
	}
	.navs-link .navs a{
		color:black;
	}
	.container{
		display: flex;
   		justify-content: center;
    	align-items: center;
    	flex-direction: column-reverse;
    	width: 100%;
    	overflow: hidden;
	}

	.title{
		text-align: center;
		width: 90%;
		margin: 1em;
	}

	.title-contain{
		justify-content: center;
	}

	.container img {
    	max-width: 80%;
	}

	.container h1{
		font-size: 1.5em;
	}

	.container h3{
		font-size: 1em;
	}

	.title-contain{
		align-items: center;
	}

	.landing{
		padding: 10px;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width:100%;
		overflow: hidden;
	}
	.landing img{
		max-width: 50%;
	}
	.landing h1{
		text-align: center;
		font-size: 3rem;
	}
	.landing .kotak{
		margin:0.5em auto;
	}
	.landing .text{
		width:90%;
	}

	.why{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
	}

	.why h1{
		text-align: center;
	}
	.why .text{
		align-items: center;
		width: 90%;
	}

	.why .kotak{
		margin: 0.5em auto;
	}

	.caro{
		width: 90%;
	}

	.sponsor .platinum img,.sponsor .gold img,.sponsor .Media img,.sponsor .silver img{
		max-width: 18em;
		margin:1.3em;
	}

	.faq-content{
		flex-direction: column;
	}

	.faq-content img{
		width: 50%;
	}

	.faq{
		width: 80%;
	}
	
	.contact-left, .contact-right{
		width: 80%;
	}

	.sosmed{
		padding: 10px 20px 0 20px;
	}

	.form-message{
		margin: 50px 0;
		padding: 24px;
	}
}

@media only screen and (max-width: 600px) 
{
	.ham-bar{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding:1em 1em;
		box-sizing: border-box;
		background-color: white;
		transition:.8s;
	}
	.ham{
		border: 0;
	}
	.hamburger{
		background-color: black;
	}
	.navsbar >.gambar>img{
		display:none;
	}
	.navsbar{
		width:100%;
		overflow: scroll;
		display:none;
	}
	.navs-link{
		display: flex;
		flex-direction: column;
		margin:auto;
		text-align: center;
		background-color: white;
		transition:1s;
	}
	.navs-link .navs{
		margin: .5em 0;
	}
	.navs-link .navs a{
		color:black;
	}
	.navs-link .navs a:hover{
		color:white;
	}
	.container img {
   		max-width: 80%;
	}
	.landing{
		padding: 10px;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width:100%;
	}
	.landing img{
		max-width: 80%;
	}
	.sponsor span h2{
		font-size: 1.2em;
	}
	.sponsor .platinum img,.sponsor .gold img,.sponsor .Media img,.sponsor .silver img{
		max-width: 12em;
		margin:1.3em;
	}
	.faq {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.faq-left, .faq-right{
		width: 85%;
	}

	button.faq-title{
		width: 100%;
		padding: 15px;
		font-size: 16px;
	}

	button.faq-title:after {
		font-size: 25px;
		float: right;
	}

	.contact-left, .contact-right{
		width: 80%;
	}

	.social-media{
		font-size: 1.4em;
	}

	.social-media span{
		font-size: 14px;
		margin: 0 12px;
	}

	.sosmed{
		padding: 10px 20px 0 0;
	}

	.form-message{
		margin: 50px 10px;
		padding: 24px;
	}

	.form-message p{
		font-size: 24px;
	}
}

@keyframes fadeOut{
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes wobble {
from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

15% {
	-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
}

30% {
	-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
}

45% {
	-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
}

60% {
	-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
}

75% {
	-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
}

to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
}

  