html,body{
	margin:0;
	padding:0;
	font-family: verdana;
	height:100%;
}


/*for header*/
.header{
	background-image: url('../assets/Landing.png');
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	
}
.navsbar{
	width:100%;
	display: flex;
	align-items: center;
	color:white;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	padding:1em 1em;
}
.navsbar .gambar > img{
	width: 10em;
	height: auto;
}
.navs-link{
	font-size: 1.2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.navs a{
	padding: 10px 10px;
	text-decoration: none;
	margin:0 10px;
	transition: .4s;
	color:black;
	font-weight: bold;
}

.navs a:hover{
	background-color:salmon;
	color:white;
	margin:0px;
	padding-right: 1.5em;
	padding-left: 1.5em;
	border-radius: 1em;
	transition: .4s;
	text-decoration: none;
}
.navs span{
	padding-top: 3px;
	padding-bottom: 3px;
	border:1px solid black;
	border-radius: 1em;
}
.navs span a{
	color:black;
}

.ham-bar{
	display:none;
}

.ham{
	padding: 5px 8px;
}

.hamburger{
	width: 2em;
	height: .3em;
	background-color: black;
	margin: .3em 0;
}
.ham-bar > img{
	width: 10em;
	height: auto;
}
.navs-links{
	display:none;
}
.container{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-height: 100%;
}
.container h1{
	font-family: Fontania;
	max-width:11em;
}
.container img{
	width:40%;
	min-width: 100px;
	height:auto;
}

/*for landing*/

.landing{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.landing > img{
	width:40%;
	min-width: 100px;
	height:auto;
}
.landing .text{
	width:40%;
}
.landing .kotak{
	width:20vh;
	height:5px;
	background-color: deepskyblue;	
}
.landing h1{
	color:black;
	font-family: "Fontania";
}
.landing p{
	color:black;
	text-align: justify;
}

.navsbar .logo{
	display:block;
}

.navsbar > img.gambar{
	display: block;
}

/*for Sponsor*/
.sponsor{
	background-image: url('../assets/Sponsor.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding:3em;
}
.sponsor .gold,.sponsor .silver,.sponsor .Media{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.sponsor .platinum img, .sponsor .gold img, .sponsor .silver img{
	max-width: 15em;
	margin:1em;
}
.sponsor .Media img{
	max-width: 12em;
	margin:1em;
}



/* FAQ */
.FAQs{
	background-image: url('../assets/FAQs.png');
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

.faq-page{
	margin: 0;
	padding: 0;
	height: 100vh;
}

.faq{
	margin: 80px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.faq-left , .faq-right{
	width: 40%
}      

button.faq-title{
	width: 100%;
	background-color: rgb(214, 209, 209);
	border: none;
	outline: none;
	text-align: left;
	padding: 10px;
	cursor: pointer;
	transition: 0.2s linear;
}

button.faq-title:after {
	content: '\f055';
	font-family: "fontawesome";
	font-size: 14px;
	float: right;
}
		
button.faq-title.is-open:after {
	content: '\f056';
}
		
		
button.faq-title:hover, button.faq-title.is-open{
	background-color: whitesmoke;
}

.faq-text{
	padding: 0 10px;
	border-left: 1px solid whitesmoke;
	border-right: 1px solid whitesmoke;
	max-height: 0;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}
	

@media only screen and (max-width: 900px)
{
	.navsbar >.gambar>img#logo{
		display:none;
	}
	.ham-bar{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding:1em 1em;
		box-sizing: border-box;
		transition:1s;
	}

	.ham{
		border:1px solid deepskyblue;
	}
	.hamburger{
		background-color: black;
	}
	.navsbar >.gambar>img#logo{
		display:none;
	}
	.navsbar{
		height:130px;
		width:100%;
		overflow: scroll;
		background-color:none;
		display: none;
	}
	.navs-link{
		display: flex;
		flex-direction: column;
		margin:auto;
		text-align: center;
		transition:1s;
	}
	.navs-link .navs{
		margin-bottom: 15px;
		margin-top: 5px;
	}
	.navs-link .navs a{
		color:black;
	}
	.container{
		display:flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width:100%;
		overflow: hidden;
	}
	.container h1{
		margin: 1em;
		text-align: center;
	}
	.landing{
		padding: 10px;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width:100%;
		overflow: hidden;
	}
	.landing h1{
		text-align: center;
	}
	.landing .kotak{
		margin:0.5em auto;
	}
	.landing .text{
		width:90%;
	}

}

.why{
	background-color: white;
	display: flex;
	flex-direction: row;
	padding: 5em;
}

.why .text{
	width: 50%;
}

.why .kotak{
	width:20vh;
	height:5px;
	background-color: deepskyblue;	
}

.why h1{
	font-family: Fontania;
}


@media only screen and (max-width: 500px) 
{
	.ham-bar{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding:1em 1em;
		box-sizing: border-box;
		background-color: white;
		transition:.8s;
	}
	.ham{
		border: 0;
	}
	.hamburger{
		background-color: black;
	}
	.navsbar >.gambar>img{
		display:none;
	}
	.navsbar{
		width:100%;
		overflow: scroll;
		display:none;
	}
	.navs-link{
		display: flex;
		flex-direction: column;
		margin:auto;
		text-align: center;
		background-color: white;
		transition:1s;
	}
	.navs-link .navs{
		margin-bottom: 15px;
		margin-top: 5px;
	}
	.navs-link .navs a{
		color:black;
	}
	.navs-link .navs a:hover{
		color:white;
	}
	.landing{
		padding: 10px;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width:100%;
	}
	.faq {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.faq-left, .faq-right{
		width: 80%;
	}
}



/*for fonts*/

@font-face {
	font-family: "Fontania";
	src:url('../assets/Fontania.ttf') format('truetype');
}