html,body{
	margin:0;
	padding:0;
	font-family: verdana;
	height:100%;
	scroll-behavior: smooth;
}

/*for fonts*/

@font-face {
	font-family: "Fontania";
	src:url('../assets/Fontania.ttf') format('truetype');
}

/*for header*/
.header{
	background-image: url('../assets/LandingBG.png');
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	
}
.navsbar{
	width:100%;
	display: flex;
	align-items: center;
	color:white;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	padding:1em 1em;
}
.navsbar .gambar > img{
	width: 10em;
	height: auto;
}
.navs-link{
	font-size: 1.2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.navs a{
	padding: 10px 10px;
	text-decoration: none;
	margin:0 10px;
	transition: .4s;
	color:black;
	font-weight: bold;
}

.navs a:hover{
	background-color:salmon;
	color:white;
	margin:0px;
	padding-right: 1.5em;
	padding-left: 1.5em;
	border-radius: 1em;
	transition: .4s;
	text-decoration: none;
}
.navs span{
	padding-top: 3px;
	padding-bottom: 3px;
	border:1px solid black;
	border-radius: 1em;
}
.navs span a{
	color:black;
}

.ham-bar{
	display:none;
}

.ham{
	padding: 5px 8px;
}

.hamburger{
	width: 2em;
	height: .3em;
	background-color: black;
	margin: .3em 0;
}
.ham-bar > img{
	width: 10em;
	height: auto;
}
.navs-links{
	display:none;
}
.container{
	display: flex;
    flex-direction: row;
   	justify-content: space-around;
   	align-items: center;
   	min-height: 100vh;
   	overflow: hidden;
   	width: 100%;
}
.container .title h1{
	font-family: Fontania;
	max-width:11em;
	text-align: left;
}
.container img{
	max-width: 35%;
    height: auto;
}

/*for landing*/

.landing{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5em;
}
.landing > img{
	max-width: 35%;
    height: auto;
}
.landing .text{
	width:50%;
}
.landing .kotak{
	width:20vh;
	height:5px;
	background-color: deepskyblue;	
}
.landing h1{
	color:black;
	font-family: "Fontania";
}
.landing p{
	color:black;
	text-align: justify;
}

.navsbar .logo{
	display:block;
}

.navsbar > img.gambar{
	display: block;
}

.landing .title, .why .title{
	padding: 1.5em 0;
}

.why{
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5em;
}

.why .text{
	text-align: justify;
	width: 50%;
}

.why .kotak{
	width:20vh;
	height:5px;
	background-color: deepskyblue;	
}

.why h1{
	font-family: Fontania;
}

.caro{
	width: 50%;
}


.carousel-control-prev-icon , .carousel-control-next-icon{
	display: none;
}

.carousel-control-prev img , .carousel-control-next img{
	width: 2em;
}

.seg img{
	width: 100%;
}

/*for Sponsor*/
.sponsor{
	background-color: #CAEBFB;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding:4em;
}
.sponsor .platinum, .sponsor .gold,.sponsor .silver,.sponsor .Media{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2em;
}

.sponsor .platinum img{
	max-width: 25em;
	margin:1.3em;
}
.sponsor .gold img{
	max-width: 17em;
	margin:1.3em;
}
.sponsor .Media img,.sponsor .silver img{
	max-width: 12em;
	margin:1.3em;
}
.sponsor span h2{
	font-size: 2.25rem;
}

.map iframe{
	width: 100%;
	height: 100vh;
}

/* FAQ */
.FAQs{
	background-color: #CAEBFB;
	width:100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

.faq-page{
	margin: 0;
	padding: 0;
	height: fit-content;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.faq-page h1{
	font-family: "Fontania";
	padding: 2em;
}

.faq{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around; 
	padding: 1em;
}

.faq-left , .faq-right{
	width: 40%
}      

button.faq-title{
	width: 100%;
	background-color: rgb(214, 209, 209);
	border: none;
	outline: none;
	text-align: left;
	font-size: 16px;
	padding: 12px;
	cursor: pointer;
	transition: 0.2s linear;
}

button.faq-title:after {
	content: '\f055';
	font-family: "fontawesome";
	font-size: 20px;
	float: right;
	padding: auto;
}
		
button.faq-title.is-open:after {
	content: '\f056';
}
		
		
button.faq-title:hover, button.faq-title.is-open{
	background-color: rgb(211, 207, 207);
}

.faq-text{
	padding: 0 10px;
	border-left: 1px solid whitesmoke;
	border-right: 1px solid whitesmoke;
	background-color: whitesmoke;
	max-height: 0;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

.Contact{
	background-image: url('../assets/FAQs.png');
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

.contact-page{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 100%;
}

.contact-left, .contact-right{
	width: 40%;
}

.social-media{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 28px;
	margin: 40px;
}

.social-media span{
	font-size: 15px; 
	margin: 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
}

.social-media a{
	color: #000;
}

.social-media a:hover{
	color: rgb(105, 105, 105);
}

.sosmed{
	padding: 10px 65px 0 0;
}

.form-message{
	border: 1px solid whitesmoke;
	border-radius: 4%;
	margin: 30px;
	padding: 60px;
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
}

.form-message p{
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_submit{
	display: flex;
	justify-content: center;
	align-items: center;
}




@media only screen and (max-width: 900px)
{
	.navsbar >.gambar>img#logo{
		display:none;
	}
	.ham-bar{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding:1em 1em;
		box-sizing: border-box;
		transition:1s;
	}

	.ham{
		border:1px solid deepskyblue;
	}
	.hamburger{
		background-color: black;
	}
	.navsbar >.gambar>img#logo{
		display:none;
	}
	.navsbar{
		height:130px;
		width:100%;
		overflow: scroll;
		background-color:none;
		display: none;
	}
	.navs-link{
		display: flex;
		flex-direction: column;
		margin:auto;
		text-align: center;
		transition:1s;
	}
	.navs-link .navs{
		margin: .5em 0;
	}
	.navs-link .navs a{
		color:black;
	}
	.container{
		display: flex;
   		justify-content: center;
    	align-items: center;
    	flex-direction: column-reverse;
    	width: 100%;
    	overflow: hidden;
	}

	.container .title h1{
		text-align: center;
		margin: 1em;
	}

	.container img {
    	max-width: 80%;
	}
	.landing{
		padding: 10px;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width:100%;
		overflow: hidden;
	}
	.landing img{
		max-width: 50%;
	}
	.landing h1{
		text-align: center;
	}
	.landing .kotak{
		margin:0.5em auto;
	}
	.landing .text{
		width:90%;
	}

	.why{
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		padding: 1em;
	}

	.why h1{
		text-align: center;
	}
	.why .text{
		align-items: center;
		width: 90%;
	}

	.why .kotak{
		margin: 0.5em auto;
	}

	.caro{
		width: 90%;
	}

	.sponsor .platinum img,.sponsor .gold img,.sponsor .Media img,.sponsor .silver img{
		max-width: 18em;
		margin:1.3em;
	}
	
	.contact-left, .contact-right{
		width: 80%;
	}


	.sosmed{
		padding: 10px 20px 0 20px;
	}

	.form-message{
		margin: 50px 0;
		padding: 24px;
	}
}

@media only screen and (max-width: 600px) 
{
	.ham-bar{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding:1em 1em;
		box-sizing: border-box;
		background-color: white;
		transition:.8s;
	}
	.ham{
		border: 0;
	}
	.hamburger{
		background-color: black;
	}
	.navsbar >.gambar>img{
		display:none;
	}
	.navsbar{
		width:100%;
		overflow: scroll;
		display:none;
	}
	.navs-link{
		display: flex;
		flex-direction: column;
		margin:auto;
		text-align: center;
		background-color: white;
		transition:1s;
	}
	.navs-link .navs{
		margin: .5em 0;
	}
	.navs-link .navs a{
		color:black;
	}
	.navs-link .navs a:hover{
		color:white;
	}
	.container img {
   		max-width: 80%;
	}
	.landing{
		padding: 10px;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width:100%;
	}
	.landing img{
		max-width: 80%;
	}
	.sponsor span h2{
		font-size: 1.2em;
	}
	.sponsor .platinum img,.sponsor .gold img,.sponsor .Media img,.sponsor .silver img{
		max-width: 12em;
		margin:1.3em;
	}
	.faq {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.faq-left, .faq-right{
		width: 85%;
	}

	button.faq-title{
		width: 100%;
		padding: 15px;
		font-size: 16px;
	}

	button.faq-title:after {
		font-size: 25px;
		float: right;
	}

	.contact-left, .contact-right{
		width: 80%;
	}

	.social-media{
		font-size: 1.4em;
	}

	.social-media span{
		font-size: 14px;
		margin: 0 12px;
	}

	.sosmed{
		padding: 10px 20px 0 0;
	}

	.form-message{
		margin: 50px 10px;
		padding: 24px;
	}

	.form-message p{
		font-size: 24px;
	}
}


